.footer {
  background-color: #333333;
  padding: 31px 0;

  @media (max-width:$tablet-max) {
    padding: 35px 0;
  }

  @media (max-width:$mobile-max) {
    padding: 30px 0 35px;
  }
}

.footer-inner{
  @include inner;
}

.footer-flex {
  display: flex;
  align-items: center;

  @media (max-width:$mobile-max) {
    display: block;
    text-align: center;
  }
}

.footer-logo {
  margin-right: auto;

  .logo {
    @media (max-width:$mobile-max) {
      font-size: 36px;
      line-height: 49px;
      margin-right: 0;
    }
  }
}

.hot-line{
  text-decoration: none;
  font-size: 28px;
  line-height: 38px;
  margin-right: 45px;
  color: #FFFFFF;

  @media (max-width:$mobile-max) {
    display: block;
    margin: 30px 0 15px;
  }
}

.social{
  display: flex;

  @media (max-width:$mobile-max) {
    justify-content: center;
  }
}

.social-item {
  margin-left: 15px;
}

.social-item:first-child {
  @media (max-width:$mobile-max) {
    margin-left: 0;
  }
}

.social-logo {
  display: block;
  height: 26px;
  width: 26px;
}
