.example {
  background-color: #fff;
  padding: 130px 0;
  text-align: center;
}

.example-inner {
  @include inner;
}

.example-title {
  @include title;
  margin-bottom: 97px;
}

.example-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 0 120px;
}

.example-figure {
  object-fit: cover;
  position: relative;
}

.example-img-text {
  background-color: rgba($dark, .4);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  color: #FFFFFF;
}


