* {
  box-sizing: border-box;
  margin: auto;
  font-family: $font-open;
}

main {
  padding-top: 90px;
}

body {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #FFF;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.order-form-field {
  background: #FFFFFF;
  padding: 35px 0 35px 30px;
  width: 382px;
  font-size: 28px;
  line-height: 34px;
  color: #333333;
  border-radius: 6px;
  border: 0;
}
